<h1>{{ trip.trip_title }}</h1>
<p>With whom: {% for element in trip.people_included %}
    <a> {{ element }} </a>
{% endfor %}</p>

<p>Start date: {{ trip.start_date }}</p>
<p>End date: {{ trip.end_date }}</p>
<p>Trip cost: {{ trip.cost }} {{ trip.currency }}</p>
<p>Details: {{ trip.description }}</p>
<p>Cities to visit:
{% for city in cities %}
    <p><a href="{%  url 'city-update' city.id %}">  {{ city.city_name.capitalize }} </a>
    <a href="{%  url 'city-delete' city.id %}">Delete</a></p>


    {%  empty %}
        <p>No city is added to the trip.</p>
{%  endfor %}
<br>
<a href="{% url 'city-create' trip.trip_id %}">Add new city</a></p>
</p>
<hr>
<a href="{% url 'trips' %}">Main page</a>


